{% extends 'layout.html.twig' %}

    {% block title %}
        {{ parent()}} Modification profil
    {% endblock %}

    {% block content %}
        <h1>Modification du profil de {{ user.prenom }} {{ user.nom }}</h1>
        {% include 'User/_formuser.html.twig' %}
        <a href="/user/indexuser{{ user.id }}">Retour</a>
    {% endblock %}